#header-logo {
  a {
    width: 70%;
    height: 50%;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}



#header-description {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
